{{ block "list" . }}
<style>
    .task {
        background-color: #9fb4a7;
        border-radius: 3px;
        padding: 6px 10px;
        margin: 5px 0;
        color: #144418;
        position: relative;
    }

    .task.htmx-swapping {
        opacity: 0;
        transition: opacity 500ms ease-out;
    }

    .task-checkbox {
        margin-right: 18px;
    }

    .new-task-btn {
        border-radius: 3px;
        background-color: #dbe7df;
        color: #144418;
        font-style: italic;
        border: 1px dashed #144418;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;
    }

    .remove-task-btn {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding: 0;
        border: none;
        cursor: pointer;
    }
</style>
<div class="tasks-list">
    <div class="active-tasks">
    {{ range . }}
        {{ template "task" . }}
    {{ end }}
    </div>
    <div hx-post="/tasks" hx-swap="beforeend" hx-target=".active-tasks" class="new-task-btn">
        Click here to add a task
    </div>
</div>
{{ end }}

{{ block "task" . }}
<div class="task" data-id="{{ .Id }}">
    <input type="checkbox" class="task-checkbox" value="{{ .Checked }}" />
    <span>{{ .Name }}</span>
    <div class="remove-task-btn" hx-delete="/tasks" hx-vals='{"id":"{{ .Id }}"}' hx-target=".task[data-id='{{ .Id }}']" hx-swap="outerHTML swap:500ms">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
          </svg>
    </div>
</div>
{{ end }}